.welcome1 {
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  top: 10px;
  left: 250px;
  font-size: 30px;
}

.to-login {
  position: absolute;
  left: 80vw;
  top: 5vh;
  font-size: 1rem;
}