.btn-upload {
    margin-top:3vh;
    margin-left: 80vw;
}

.store-name {
    margin:0 auto;
    font-size: 30px;
    text-align: center;
}

.each-store-name {
    position: absolute;
    margin-top:3vh;
}