.goodsList {
    width: 80%;
    margin:0 auto;
    margin-top: 5%;
}

.eachGood {
    margin: 0 5px 8px;
}

.ant-card-head {
    position: absolute;
    float: right;
    bottom: -6%;
    right: -10%;
}

/* .ant-radio-button-wrapper:first-child {
    border: none;
} */

.btn-enter {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
}


.btn-enter:hover {
    color: red;
}