li {
  list-style: none;
  margin-top: 30vh;
}

.ant-list-item {
  margin: 0 5px 8px;
  margin-top: 2vh;
}

.checkBox {
  position: absolute;
  float: left;
  height: 3vh;
  width: 3vw;
}

/* 付款栏的样式 */
.footer {
  width: 80%;
  height: 5vh;
  margin: 0 auto;
}

.footer-check {
  margin: 0 5px 8px;
  margin-top: 2vh;
}

.checked-price {
  position: absolute;
  margin-left: 60vw;
}

.check-all-box {
  position: absolute;
  margin: 0 5px 8px;
  margin-left: 4vw;
}

.btn-pay {
  position: absolute;
  margin-left: 70vw; 
}

/* 购物车列表的样式 */
.each-shopping-good {
  margin: 0 5px 8px;
  margin-top: 2vh;
}

.shopping-img {
  margin-left: 5vw;
}

.shopping-title {
  position: absolute;
  margin-top: -12vh;
  left: 20vw;
}

.shopping-content {
  position: absolute;
  margin-top: -12vh;
  left: 40vw;
}

.shopping-price {
  position: absolute;
  margin-top: -12vh;
  left: 60vw;
}

.btn-delete {
  position: absolute;
  margin-top: -12vh;
  left: 70vw;
}

/* 评论区的样式 */
.btn-to-comment {
  float: right;
  margin-top: 10vh;
}

.btn-comment {
  position: absolute;
  margin-top: -8vh;
  left: 70vw;
}

