li {
  list-style: none;
  margin-top: 30vh;
}

.checkBox {
  float: left;
  height: 5vh;
  width: 5vw;
}

.each-shopping-good {
  margin: 0 5px 8px;
  margin-top: 2vh;
}

.shopping-content {
    position: absolute;
    margin-top: -10vh;
    left: 40vw;
}