li {
  list-style: none;
  margin-top: 30vh;
}

.ant-list-item {
  margin: 0 5px 8px;
  margin-top: 2vh;
}

.checkBox {
  float: left;
  height: 3vh;
  width: 3vw;
}

.each-shopping-good {
  margin: 0 5px 8px;
  margin-top: 2vh;
}

.shopping-content {
    position: absolute;
    margin-top: -12vh;
    left: 40vw;
}

.shopping-price {
    position: absolute;
    margin-top: -12vh;
    left: 60vw;
}

.shopping-delete {
    position: absolute;
    margin-top: -12vh;
    left: 80vw;
}