.search {
  display: inline;
  position: absolute;
  top: 10px;
  left: 40%;
}

.search-bar {
  border-radius: 30px;
}

.bar .Search-input,
.bar .searchBtn {
  border-radius: 3px;
}
.bar .Search-input {
  background: #f9f0da;
}
.bar .searchBtn {
  height: 40px;
  width: 40px;
  top: 42px;
  right: 0px;
  background: #f15b42;
}
.bar .searchBtn:before {
  content: "\f105";
  font-family: FontAwesome;
  color: #f9f0da;
  font-size: 20px;
  font-weight: bold;
}

div.search {
  padding: 30px 0;
}

.Search-form {
  position: relative;
  width: 30vw;
  margin: 0 auto 0 -10vw;
}

.Search-input,
.searchBtn {
  border: none;
  outline: none;
}

.Search-input {
  width: 100%;
  height: 42px;
  padding-left: 13px;
  padding-right: 46px;
}

.searchBtn {
  height: 42px;
  width: 42px;
  cursor: pointer;
  position: absolute;
}

.icon-logo {
  position: absolute;
  height: 40px;
  width: 40px;
  top: -5px;
  right: 0px;
}
