@import "~antd/dist/antd.css";

.loginBox {
  display: flex;
  /* width: 50%; */
  width: 25vw;
  height: 50vh;
  margin: 0px auto;
  margin-right: 200px;
  margin-top: 15vh;
  background-color: white;
  padding: 10px;
}

p {
  text-align: center;
}

.loginBox1 {
  margin: 0px auto;
  margin-top: 10vh;
}

.btn1 {
  text-align: left;
  float: left;
}
.btn2 {
  text-align: right;
}

.loginTip {
  position: absolute;
  margin-left: 8%;
  font-size: 30px;
}