.registerBox {
  display: flex;
  /* width: 50%; */
  width: 40vw;
  height: 30vh;
  margin: 0px auto;
  margin-top: 20vh;
  border-radius: 12px;
  padding: 10px;
}

p {
  text-align: center;
}

.registerBox1 {
  margin: 0px auto;
}
